USE [master]
GO
/****** Object:  Database [PruebaAA]    Script Date: 9/29/2020 3:32:16 PM ******/
CREATE DATABASE [PruebaAA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaAA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PruebaAA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaAA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PruebaAA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaAA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaAA]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 9/29/2020 3:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PointOfSale] [varchar](200) NULL,
	[Product] [varchar](200) NULL,
	[Date] [datetime] NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
